@import 'mixin/glyph.sss'

[href^='http']::after
  @mixin glyph symbol/link_external
  margin-left: 2px

header,
footer,
.dark
  [href^='http']::after
    filter: invert(100%)

  a
    color: #aaa

  a:hover
    color: #fff

.light
  a:hover
    color: #f00
