[href^='http']::after
  background-image: url('asset/symbol/link_external.svg')
  content: ''
  display: inline-block
  margin-left: 2px
  position: relative
  height: 1rem
  width: 1rem
  top: 2px

header,
footer,
.dark
  [href^='http']::after
    filter: invert(100%)

  a
    color: #aaa

  a:hover
    color: #fff

.light
  a:hover
    color: #f00
