include emoji.pug
include nav.pug
include scripture.pug

doctype html
html(lang='en')
  head
    block head
      title me2christ.com - REPENT, FOR THE KINGDOM OF HEAVEN IS AT HAND!
      meta(charset='UTF-8')
      meta(name='description' content='The Gospel of our Lord Jesus Christ')
      meta(name='version' content=process.env.npm_package_version)
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      if process.env.M2C_LIVE_RELOAD
        script: include livereload.js
      style: include base.css
      style: include cards.css
      style: include tooltip.css
      style: include utility.css
  //- FIX: ipad tooltips -- see https://dev.webonomic.nl/fixing-the-iphone-css-hover-problem-on-ios
  body(onclick)
    header
      +nav
    section
      block main
    footer
      +nav
      .mt-8 Bible verses are quoted from the New King James and King James Versions.
      .mt-4: a(href='/') me2christ.com
