doctype html

include nav.pug
include running.pug
include scripture.pug
include tip.pug

html(lang='en')
  head
    block head
      include base.favicon.pug
      title me2christ.com - REPENT, FOR THE KINGDOM OF HEAVEN IS AT HAND!
      meta(charset='UTF-8')
      meta(name='description' content='The Gospel of our Lord Jesus Christ')
      meta(name='version' content=process.env.npm_package_version)
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      if process.env.M2C_LIVE_RELOAD
        script: include livereload.js
      style: include:sss base.sss
  // FIX: ipad tooltips -- see https://dev.webonomic.nl/fixing-the-iphone-css-hover-problem-on-ios
  body(tabindex=0)
    block header
    section
      block main
    block footer
