.emoji
  display: grid

  img
    &:first-child
      transform: scaleX(-1)

  .dark &
    gap: 0
    grid-template-columns: 40px 1fr 40px

  .light &
    align-items: center
    gap: 1.2rem
    grid-template-columns: 40px 1fr

    img
      position: relative
      top: -8px

      &:last-child
        display: none

    +p
      margin-top: 0
