-
  log = console.log

  function addFingerPointers(html, hotwords) {
    if (!hotwords) return html
    hotwords = hotwords.split(',')
    for (w of hotwords) { html = html.replaceAll(w.trim(), `👉${w.trim()}`) }
    return html
  }
