-
  const NAV_PAGES = [
    {'basename':'index', 'title':'The Truth'},
    {'basename':'deception', 'title':'Deception'},
    {'basename':'resources', 'title':'Resources'},
  ]

append head
  style: include:postcss nav.sss

mixin nav()
  nav
    - basename = locals.filename.split('/').at(-1).replace('.pug', '')
    each page in NAV_PAGES
      if page.basename === basename
        .active= page.title
      else
        a(href=page.basename + '.html')
          span= page.title
