append head
  style: include nav.css

  - locals.NAV_PAGES = [{'id':'gospel','href':'index','title':'The Truth'},{'id':'heresies','href':'heresies','title':'The Lies'},{'id':'resources','href':'resources','title':'Resources'}];

mixin nav()
  nav
    each page in locals.NAV_PAGES
      if PAGE_ID === page.id
        .active= page.title
      else
        a(href=page.href + '.html')
          span= page.title
