nav
  display: flex
  flex-wrap: wrap
  font-size: 1.2rem
  gap: 1rem
  justify-content: center

  a
    text-decoration: none

.active
  font-weight: bold

  .dark &
    color: #fff

  .light &
    color: #000
