-
  const NAV_PAGES = [
    {'id':'truth', 'href':'index', 'title':'The Truth'},
    {'id':'deception', 'href':'deception', 'title':'Deception'},
    {'id':'resources', 'href':'resources', 'title':'Resources'},
  ]

append head
  style: include:postcss nav.sss

mixin nav()
  nav
    each page in NAV_PAGES
      if PAGE_ID === page.id
        .active= page.title
      else
        a(href=page.href + '.html')
          span= page.title
