mixin header(theme)
  header(class=theme)
    +nav('footer')

mixin footer(theme)
  footer(class=theme)
    +nav('header')
    p Bible verses are quoted from the New King James and King James Versions.
