append head
  include scripture.js.pug
  style: include:postcss scripture.sss

// NOTE: adjacent spans are separated by ' ' (see base.css)

// separate books by semicolon and chapters by comma e.g. [Matthew 5:27, 13:47,48; Luke 12:4-5]
mixin refs(refs, hotwords)
  - var books = expand(refs).split(';')
  each bookrefs in books
    - const tip = addHotWordIndicators(generateTip(bookrefs), hotwords)
    span
      if (tip.length)
        mark.tip!= finalise(bookrefs)
          span.tiptext!= tip
      else
        mark!= bookrefs
  if block
    span
      block

mixin see(refs, hotwords, label='see')
  - if (!refs) return
  span (#[=label]
  +refs(refs, hotwords)
  |)
  block

mixin seeAlso(refs, hotwords)
  +see(refs, hotwords, 'see also')

mixin verse(ref, pretext)
  span.verse
    if pretext
      span= pretext
    span
      span.body
        block
    span &ndash;
    - ref = finalise(expand(ref))
    span: mark!= ref
    +seeAlso(attributes.seeAlso, attributes.hotwords)
