append head
  style: include scripture.css
-
  function expand(ref) {
    return ref.replaceAll('Mat.', 'Matthew ').replaceAll('Rom.', 'Romans ').replaceAll('Cor.', 'Corinthians ').replaceAll('Gal.', 'Galatians ').replaceAll('Eph.', 'Ephesians ').replaceAll('Php.', 'Philippians ').replaceAll('Col.', 'Colossians ').replaceAll('Tim.', 'Timothy ').replaceAll('Heb.', 'Hebrews ').replaceAll('Pet.', 'Peter ').replaceAll('Rev.', 'Revelation ')
  }

mixin ref(ref)
  -
    ref = ref.replace(/-(\d+)/, '&ndash;$1')
    ref = expand(ref)
  mark.tooltip!= ref
    span.tooltiptext= verses[ref.trim()]

mixin see(refs, label='See')
  - if (!refs) return
  - var refarr = refs.split(';')
  span.see  (
  span= label
  each ref in refarr
    | 
    +ref(ref)
  span )

mixin seeAlso(refs)
  +see(refs, 'See also')

mixin verse(ref)
  .verse.tooltip-anchor
    span.pre= attributes.pre
    span.body
      block
    span  &ndash;
    +ref(ref)
    +seeAlso(attributes.seeAlso)
