append head
  include hotword.js.pug
  include scripture.js.pug
  style: include:postcss scripture.sss

// NOTE: adjacent spans are separated by ' ' (see base.css)

// separate books by semicolon and chapters by comma e.g. [Matthew 5:27, 13:47,48; Luke 12:4-5]
mixin refs(refs, hotwords)
  - var books = expand(refs).split(';')
  each bookrefs in books
    - const tooltip = addHotWordIndicators(generateTooltip(bookrefs), hotwords)
    span
      if (tooltip.length)
        mark.tooltip!= finalise(bookrefs)
          span.tooltiptext!= tooltip
      else
        mark!= bookrefs
  if block
    span
      block

mixin see(refs, label='see')
  - if (!refs) return
  span (#[=label]
  +refs(refs)
  |)
  block

mixin seeAlso(refs)
  +see(refs, 'see also')

mixin verse(ref, pretext)
  span.verse
    if pretext
      span= pretext
    span
      span.body
        block
    span &ndash;
    - ref = finalise(expand(ref))
    span: mark!= ref
    +seeAlso(attributes.seeAlso)
