append head
  style: include:scss scripture.scss

mixin ref(ref)
  - if (!ref) return
  - ref = ref.replaceAll('Mat.', 'Matthew ')
  - ref = ref.replaceAll('Rom.', 'Romans ')
  - ref = ref.replaceAll('Cor.', 'Corinthians ')
  - ref = ref.replaceAll('Gal.', 'Galatians ')
  - ref = ref.replaceAll('Eph.', 'Ephesians ')
  - ref = ref.replaceAll('Col.', 'Colossians ')
  - ref = ref.replaceAll('Tim.', 'Timothy ')
  - ref = ref.replaceAll('Rev.', 'Revelation ')
  mark= ref

mixin see(refs, label='See')
  - if (!refs) return
  - var refarr = refs.split(';')
  span.see  (
  span= label
  each ref in refarr
    | 
    +ref(ref)
  span )

mixin seeAlso(refs)
  +see(refs, 'See also')

mixin verse(ref)
  .verse
    span.pre= attributes.pre
    span.body
      block
    span  &ndash;
    +ref(ref)
    +seeAlso(attributes.seeAlso)
