append head
  style: include scripture.css

mixin ref(ref)
  - if (!ref) return
  - ref = ref.replaceAll('Mat.', 'Matthew ')
  - ref = ref.replaceAll('Rom.', 'Romans ')
  - ref = ref.replaceAll('Cor.', 'Corinthians ')
  - ref = ref.replaceAll('Gal.', 'Galatians ')
  - ref = ref.replaceAll('Eph.', 'Ephesians ')
  - ref = ref.replaceAll('Php.', 'Philippians ')
  - ref = ref.replaceAll('Col.', 'Colossians ')
  - ref = ref.replaceAll('Tim.', 'Timothy ')
  - ref = ref.replaceAll('Heb.', 'Hebrews ')
  - ref = ref.replaceAll('Pet.', 'Peter ')
  - ref = ref.replaceAll('Rev.', 'Revelation ')
  - ref = ref.replace(/-(\d+)/, '&ndash;$1')
  mark.tooltip!= ref
    span.tooltiptext Now I urge you, brethren, note those who cause divisions and offenses, contrary to the doctrine which you learned, and avoid them. [18] For those who are such do not serve our Lord Jesus Christ, but their own belly, and by smooth words and flattering speech deceive the hearts of the simple. [19] For your obedience has become known to all. Therefore I am glad on your behalf; but I want you to be wise in what is good, and simple concerning evil. [20] And the God of peace will crush Satan under your feet shortly. The grace of our Lord Jesus Christ be with you. Amen.

mixin see(refs, label='See')
  - if (!refs) return
  - var refarr = refs.split(';')
  span.see  (
  span= label
  each ref in refarr
    | 
    +ref(ref)
  span )

mixin seeAlso(refs)
  +see(refs, 'See also')

mixin verse(ref)
  .verse.tooltip-anchor
    span.pre= attributes.pre
    span.body
      block
    span  &ndash;
    +ref(ref)
    +seeAlso(attributes.seeAlso)
