append head
  style: include:scss scripture.scss

mixin see(refs, label='See')
  - if (!refs) return
  - var refarr = refs.split(';')
  span.see  (
  span= label
  each ref in refarr
    | 
    mark= ref
  span )

mixin seeAlso(refs)
  +see(refs, 'See also')

mixin verse(ref)
  .verse
    span.pre= attributes.pre
    span.body
      block
    span  &ndash;
    mark= ref
    +seeAlso(attributes.seeAlso)
