append head
  style: include scripture.css

mixin ref(ref)
  - if (!ref) return
  - ref = ref.replaceAll('Mat.', 'Matthew ')
  - ref = ref.replaceAll('Rom.', 'Romans ')
  - ref = ref.replaceAll('Cor.', 'Corinthians ')
  - ref = ref.replaceAll('Gal.', 'Galatians ')
  - ref = ref.replaceAll('Eph.', 'Ephesians ')
  - ref = ref.replaceAll('Php.', 'Philippians ')
  - ref = ref.replaceAll('Col.', 'Colossians ')
  - ref = ref.replaceAll('Tim.', 'Timothy ')
  - ref = ref.replaceAll('Heb.', 'Hebrews ')
  - ref = ref.replaceAll('Pet.', 'Peter ')
  - ref = ref.replaceAll('Rev.', 'Revelation ')
  - ref = ref.replace(/-(\d+)/, '&ndash;$1')
  mark!= ref

mixin see(refs, label='See')
  - if (!refs) return
  - var refarr = refs.split(';')
  span.see  (
  span= label
  each ref in refarr
    | 
    +ref(ref)
  span )

mixin seeAlso(refs)
  +see(refs, 'See also')

mixin verse(ref)
  .verse
    span.pre= attributes.pre
    span.body
      block
    span  &ndash;
    +ref(ref)
    +seeAlso(attributes.seeAlso)
