script: include scrolljump.js
style: include:sss scrolljump.sss

noscript
  style: :sss
    .scrolljump
      display: none

a.scrolljump.jump-down(onclick='jumpDown()')
  .chevron

a.scrolljump.jump-up(onclick='jumpUp()')
  .chevron
