script: include scrolljump.js
style: include:sss scrolljump.sss

noscript
  style: :sss
    .scrolljump
      display: none

a.scrolljump.down(onclick='jumpDown()')
  .chevron

a.scrolljump.up(onclick='jumpUp()')
  .chevron
