script: include scrolljump.js
style: include:sss scrolljump.sss

noscript
  style: :sss
    .scrolljump
      display: none

a.scrolljump.jump-down(aria-label='Next major heading' href='#' onclick='jumpDown()')
  .chevron

a.scrolljump.jump-up(aria-label='Previous major heading' href='#' onclick='jumpUp()')
  .chevron
