script: include scrolljump.js
style: include:sss scrolljump.sss

noscript
  style: :sss
    .scrolljump
      display: none

a.scrolljump.prev(onclick='jumpPrev()')
  .chevron

a.scrolljump.next(onclick='jumpNext()')
  .chevron
