append head
  style: include symbol.css

mixin symbol(symbol, text)
  .symbol.ooltip-anchor
    .tooltip
      // img(class=symbol src=`asset/symbol/${symbol}.svg`)
      span.tooltiptext
        block
