append head
  style: include:sss tip.sss

mixin baptism(label='baptism')
  +tip(label) Water baptism is required for salvation and must be done full immersion, for the remission of sins. Please read Romans 6 for understanding. Baptism of infants is an unbiblical tradition of man.

mixin ransom
  +tip('ransom') The price paid to set a captive free.

mixin tip(label)
  span.tip.tiphelp!= label
    span.tiptext
      block
