append head
  style: include:postcss tooltip.sss

mixin tooltip(text)
  //- nest .tooltip so tooltip dotted underline does not extend leftwards
  span: .tooltip.help!= text
    .tooltiptext
      block
