/* these classes are based on tailwindcss */
.mb-0
  margin-bottom: 0

.ml-1
  margin-left: 0.25rem

.mt-2
  margin-top: 0.5rem

.mt-4
  margin-top: 1rem

.mt-6
  margin-top: 1.5rem

.mt-8
  margin-top: 2rem

.w-full
  width: 100%
