@import 'glyph.sss'

[href^='http']::after
  @mixin glyph symbol/link_external
  margin-left: 2px

  .dark &
    filter: invert(100%)

a
  .dark &
    color: #aaa

  .light &
    color: #444

a:hover
  .dark &
    color: #fff

  .light &
    color: #f00
