@define-mixin checkmark-filter
  filter: hue-rotate(00deg) brightness(72%) contrast(500%)

@define-mixin glyph $id, $mr:0.4rem
  background: svg($id)
  content: ''
  display: inline-block
  margin-right: $mr
  position: relative
  top: 2px
  height: 1rem
  width: 1rem
