.gospel {
  em {
    font-weight: bold;
  }

  .emoji {
    position: relative;

    img {
      position: absolute;
      width: 40px;

      &:first-child {
        left: 0;
        transform: scaleX(-1);
      }

      &:last-child {
        right: 0;
        top: 0;
      }
    }
  }

  .dark em {
    color: orange;
  }

  .light {
    em {
      color: green;
    }

    h2 {
      margin-left: 50px;
    }

    .emoji img {
      width: 60px;

      &:last-child {
        display: none;
      }
    }
  }
}
