extends lib/base.pug

append head
  style: include contact.css
  script: include contact.js
  script(src='https://challenges.cloudflare.com/turnstile/v0/api.js' async defer)

append main
  .card
    h1 Contact Me
    .contact
      form(method='POST' action='https://me2christ-worker.dizzib-dev.workers.dev')
        fieldset
          label(for='name') Name
          input(id='name' maxlength=40 minlength=2 name='name' placeholder='Your name' required value='aa')

          label(for='email') Email
          input(id='email' maxlength=40 name='email' placeholder='Your email address' required type='email' value='b@c')

          label(for='message') Message
          textarea(cols=40 id='message' maxlength=1000 minlengthX=40 name='message' placeholder='Your message' required rows=7)
            |xyz

          div(data-sitekey=process.env.TURNSTILE_SITE_KEY data-theme='light' data-size='flexible').cf-turnstile.mt-8
          #error.mt-4

          button(type='submit').mt-8 Send

      #success.mt-8
        p Thank you.
        p Your message has been successfully sent.
