.contact {
  display: flex;
  justify-content: center;

  form {
    fieldset {
      border: none;

      &:disabled * {
        cursor: wait;
      }
    }

    input+label {
      margin-top: 1rem;
    }

    label {
      display: block;
      margin-bottom: 0.3rem;
      font-weight: bold;
      color: #333;
    }

    input,
    textarea {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #888;
      border-radius: 4px;
      font-size: 1rem;
    }

    textarea {
      resize: vertical;
    }

    button {
      background-color: #ccc;
      border: none;
      border-radius: 4px;
      color: #333;
      padding: 0.75rem;
      font-size: 1rem;
      font-weight: normal;
      width: 100%;
    }

    @media (hover: hover) {
      button:enabled:hover {
        background-color: #0f0;
        cursor: pointer;
      }
    }

    #error {
      display: none;
      background-color: #fcc;
      color: #f00;
      border: none;
      border-radius: 4px;
      padding: 0.75rem;
      font-size: 1rem;
    }
  }

  #success {
    display: none;
    height: 30rem;
    text-align: center;
  }
}
