style: :sss
  .calvinism h2::first-letter
    color: #fff

.cards.dark.calvinism
  .card.w-full: h1 Calvinism (T.U.L.I.P)
  .card.doctrine: +preamble('Total Depravity')
  .card.doctrine: +preamble('Unconditional Election')
  .card.doctrine: +preamble('Limited Atonement')
  .card.doctrine: +preamble('Irresistable Grace')
  .card.doctrine: +preamble('Perseverance of the Saints')
