@import 'emoji.sss'
@import 'glyph.sss'
@import 'tip.sss'

@media (width > 420px)
  @mixin emoji-lr skull_bones
    margin-top: 8px // align center with h1

.intro .verse
  @mixin tip-anchor

.exclaim::before
  @mixin glyph emoji/excl_double
