extends lib/base.pug
include deception.mixin.pug

append header
  +header('dark')

append main
  script: include deception.js
  style: include:sss deception.sss
  include lib/scrolljump.pug
  .dark
    .cards: include deception.intro.pug
    .cards.doctrines: include deception.protestant.pug
    .cards.calvinism: include deception.calvinism.pug
    .cards.doctrines: include deception.other.pug
    .cards: include deception.other.list.pug
    .cards: include deception.belief-systems.pug
    .cards: include deception.tract.pug

append footer
  +footer('dark')
