extends lib/base.pug
include deception.mixin.pug

append head
  style: include:sss deception.sss
  style: include:sss deception.intro.sss

append header
  +header('dark')

append main
  .cards.dark.doctrines
    include deception.intro.pug
    include deception.protestant.pug
  include deception.calvinism.pug
  .cards.dark
    .card.w-full
      h1 Other False Doctrines
      p These false doctrines mis-interpret Bible scripture to justify themselves.
    - const others = ['Annihilationism', 'Arianism', 'Black Hebrew Israelites', 'Cessationism', 'Dispensationalism', 'Gnosticism', 'Hebrew Roots', 'Jehovah Witnesses', 'Modalism', 'Mormonism', 'Roman Catholicism', 'Seventh Day Adventism', 'Theistic Evolution', 'Universalism', 'Word of faith / Prosperity Gospel']
    each o in others.sort()
      .card.doctrine: +preamble(o)
  .cards.dark
    .card.w-full
      h1 False Belief Systems
      p These false belief systems deny the truth of the Bible.
    -const beliefs = ['Atheism', 'Islam', 'Judaism', 'Freemasonry', 'New Age', 'Hinduism', 'Satanism']
    each b in beliefs.sort()
      +belief(b)

append footer
  +footer('dark')
