extends lib/base.pug

append head
  style body { background: #000 }
  style: include:inlinesvg:postcss deception.sss

mixin belief(title)
  .card
    h2= title

mixin preamble(title, proof_texts, origin, aka)
  h2!= title
  .tooltip-anchor #[strong False doctrine: ]
    block
  if origin
    div #[strong Origin:] #{origin}
  if aka
    div #[strong Also known as:] #{aka}
  .tooltip-anchor
    +tooltip('<strong>Proof-texts:</strong>') These Scripture verses are commonly taken out of context and mis-interpreted to promote this false doctrine.
    +refs(proof_texts)

mixin danger()
  .danger
    strong Danger:
    block

mixin refutation()
  .refutation
    h3.mt-4 Refutation
    block

//- refutation list item
mixin ri(refs)
  li(class!=attributes.class)
    span
      block
      |:
    +refs(refs)

mixin tooltip(text)
  //- nest .tooltip so tooltip dotted underline does not extend leftwards
  span: .tooltip.help!= text
    .tooltiptext
      block

append header
  +header('dark')

append main
  .card.dark.intro
    h1 False Doctrines
    p.tooltip-anchor
      span Friends, let us be vigilant and take heed, for the devil came to Jesus abusing Scripture
      +see('Mat.4:6; Luke 4:9-11'): span and has been doing the same for 6,000 years. The apostle Peter warns us how some of Paul's writings are hard to understand and will be twisted by the unlearned
      +see('2-Pet.3:15-16', 'see'): |. Jesus warns us to beware of false prophets and false doctrines
      +see('Mat.7:15-20, 16:6,12'): |.
    .verses
      +verse('1-Tim.4:1,2')(seeAlso='2-Cor.11:3-4, 11:13-15'): :hi Now the Spirit expressly says that in latter times some will depart from the faith, giving heed to deceiving spirits and *doctrines of demons*, speaking *lies* in hypocrisy, having their own conscience seared with a hot iron,
      +verse('2-Pet.2:1')(seeAlso='Acts 20:29-31'): :hi But there were also false prophets among the people, even as there will be *false teachers* among you, who will secretly bring in *destructive heresies*, even denying the Lord who bought them, and bring on themselves swift destruction.
      +verse('Jude 1:3')(seeAlso='Jude 1:4; Eph.5:11; 2-Tim.2:15; 1-John 4:1'): | Beloved, while I was very diligent to write to you concerning our common salvation, I found it necessary to write to you exhorting you to contend earnestly for the faith which was once for all delivered to the saints.
      +verse('2-Tim.4:3-4'): :hi For the time will come when they will not endure sound doctrine, but according to their *own desires*, because they have itching ears, they will heap up for themselves teachers; and they will turn their ears away from the truth, and be *turned aside to fables*.
    p.mb-0 Neither the prophets, nor the Lord Jesus, nor His apostles taught any of the doctrines found below.
  .cards.cols-3.dark.doctrines
    .card.doctrine
      +preamble('Penal Substitution Atonement (PSA)',
        'Is.53:4,6, 53:10; Mat.27:46; John 19:30; Rom.3:25; Col.2:14; 1-John 2:2, 4:10',
        '(Anselm, Aquinas), Luther, Calvin')
        :hi Jesus paid the *penalty* for our past, present and future sins. The wrath of God was poured out and satisfied as the Father punished the Son so we can go free.
      +danger
        li Logically leads to double jeopardy or universalism, which can lead to Calvinism's limited atonement
        li Does not fix the believer's relationship with God, only their legal standing
        li Maligns God's character
      +refutation
        +ri('Mat.18:23-27; Luke 7:41,42'): :hi In Jesus' parables, the unpayable debt is *forgiven*, not paid off
        +ri('Mark 10:45; 1-Tim.2:6; 1-Pet.1:18,19'): :hi Jesus is our *ransom*, a perfect *sin offering* to lead us to repentance
        +ri('1-Cor.5:7; Heb.9:14') Jesus did not become a sinner on the cross, but was offered up as an innocent Passover lamb to God
        li On the cross, Jesus is quoting #[+refs('Psa.22:1')] to fulfil prophecy, not because the Father turned His back on Him
        li: +refs('Is.53:4'): :hi says we *esteemed* him smitten of God, not that he was *actually* smitten of God
        li The #[+tooltip('Septuagint version of Isaiah 53:10') And the Lord desires to cleanse him from his blow. If you offer for sin, your soul shall see a long-lived offspring. And the Lord wishes to take away from the pain of his soul, (NETS version)] reads differently to the Masoretic
        li The sacrificial animals in Leviticus were not being punished
    .card.doctrine
      +preamble('Justification by Faith Alone', 'John 3:15,16, 6:29; Rom.3:28, 10:9; Eph.2:8-9', 'Luther, Calvin', 'Sola Fide')
        | We are #[+tooltip('justified') Made righteous (Greek δικαιόω - dikaioō)] by faith alone, not by anything we do (our works). Good works should follow but are not necessary for salvation.
      +danger
        li Teaches we become born again when we believe, apart from any works of any kind
        li There is much less incentive for good works or obedience to God
        li Implies baptism (a good work of faith) is not required for salvation and is just an outward expression of an inward change
      +refutation
        mixin works
          +tooltip('<em>works</em>') Things done in #[strong: em faithful obedience] to God, NOT things done by our own efforts nor keeping the the old covenant Law of Moses, leading to self-righteousness.
        li
          span We are justified by #[+works] and not by faith alone:
            +verse('James 2:24,26') You see then that a man is justified by #[+works], and not by faith only. For as the body without the spirit is dead, so faith without #[+works] is dead also.
          +seeAlso('James 2:14-26')
        +ri('Mat.12:37; Rom.3:24, 5:9; Titus 3:7') We are also justified by our words, by grace, and by the blood
        +ri('Rom.2:5-10; Gal.6:7-10; Rev.20:12-15').warn We are exhorted to have good #[+works] because we will be judged by them on the Day of Judgement
        +ri('Mark 16:16; Acts 2:38, 22:16; Rom.6:3-4; 1-Pet.3:21') Baptism (for the remission of sins) is a necessary part of salvation
        +ri('John 3:3-5') It takes more than just a prayer, a "decision", or a confession with the mouth to be born again
        // li We do not #[em earn] eternal life in and of ourselves, neither is it all of God (monergism). It is a gift conditional on our relationship and faithfulness to God (synergism)
    .card.doctrine
      +preamble('Eternal security', 'John 6:37, 10:28; Rom.8:38,39; Php.1:6', '', 'Once Saved Always Saved') You cannot be lost once you're saved.
      +danger
        li Lures believers into a false sense of safety, neglecting the fear of the Lord
        // li Denies freewill by teaching the indewlling Holy Spirit will not let a believer fall away
        li Opens the door to sin without consequence
      +refutation
        +ri('John 15:1-10; Rom.11:20-22').warn God removes unfruitful branches from the vine (Jesus) and casts them into the fire
        +ri('Mat.25:8, 25:10-12').warn In the parable of the virgins, the foolish ran out of oil (the Holy Spirit anointing) and were denied access
        +ri('Mat.25:30').warn In the parable of the talents, the Lord casts his unprofitable servant into outer darkness
        +ri('Rev.2:5, 3:14-16').warn Jesus threatens to remove the Ephesian church's lampstand and vomit the lukewarm Laodicean church out of His mouth
        +ri('Heb.6:4-6, 10:26-31; 2-Pet.2:20-22').warn Scripture warns born again believers the danger of falling away from the faith and going back to a life of sin
        +ri('Mark 4:6, 4:17').warn In the parable of the sower, Jesus warns it is possible for a believer to endure for a time and then fall away
        +ri('Mat.7:14, 7:21-23; Luke 13:24-28; Acts 9:31; 1-Cor.10:6-11; Php.2:12; Heb.4:1,11; 1-Pet.1:17') Scripture exhorts us to strive and be diligent to enter in with fear and trembling
        +ri('Mat.24:13') After becoming born again, we must endure to the end to be (finally) saved
    .card.doctrine
      +preamble('Imputed Righteousness of Christ', 'Is.64:6; Rom.4:6; 1-Cor.1:30; 2-Cor.5:21; Titus 3:5', 'Luther, Calvin', 'Double Imputation')
        | Jesus' righteousness is transferred onto us, and our sins are transferred onto Jesus, in a divine exchange.
      +danger
        li: :hi Turns the grace of God into a license to sin, teaching we are *positionally* righteous with God even while *practicing* sin
        li Takes Isaiah 64:6 out of context to imply we will always be sinners
      +refutation
        +ri('1-John 3:8; Gal.5:19-21') Whoever #[em practices] righteousness is righteous: #[+refs('1-John 3:7,10')]. Whoever sins is of the devil and cannot inherit the kingdom of God
        +ri('Genesis 6:9; Job 1:1, 1:8; Luke 1:5,6; Acts 11:22-24; 2-Pet.2:7') Scripture exhorts us to be perfect and blameless #[+refs('Mat.5:48; 1-Tim.3:2, 3:10; Titus 1:6,7; 2-Pet.3:14')], and gives us some examples
        li
          span The fine linen of the Bride of Christ is not the righteous acts of Christ, but the saints:
          +verse('Rev.19:8'): :hi And to her it was granted to be arrayed in fine linen, clean and bright, for the fine linen is the righteous acts of *the saints*.
        +ri('Rom.6:1-2, 6:15; Titus 2:11,12') The grace of God is not a license to sin
        +ri('Luke 18:9-14; Rom.3:21,22') True righteousness is found in faithful obedience to Jesus, not in self-righteousness or in keeping the Law of Moses
    .card.doctrine
      +preamble('Original Sin (Augustinian)', 'Psa.51:5; John 3:6; Rom.5:12,19; Eph.2:3', 'Augustine (influenced by Gnosticism)')
        | Everyone is born with a sinful nature inherited from Adam, with damnable guilt at birth.
      +danger
        li Deceives the believer to think God made them a certain way which is impossible to repent of
        li Allows sinners to blame God, not themselves, for their sins, therefore God is unjust to judge them
        li Leads to the unbiblical practice of infant baptism
      +refutation
        +ri('1-Samuel 16:1, 16:10-12') In #[+refs('Psa.51:5')] David's mother is in sin, not David. This might explain why Jesse left David in the field at such an important occasion
        li God made us without sin, but we chose to sin by our freewill: #[+verse('Ecclesiastes 7:29'): :hi Truly, this only I have found: That God made man *upright*, But they have sought out many schemes.]
        +ri('Deut.1:39; Mat.18:2-5, 19:13-15; Luke 18:15-17; Rom.9:11') Little children are innocent, not sinners, in the eyes of God
        +ri('Deut.24:16; Eze.18:20') God holds us accountable for our own sin, not Adam's nor anyone else's
        +ri('Rom.2:14,15') We can choose to do good by our own freewill
        +ri('Heb.2:17') Jesus was in #[em all things] made like us yet without sin
        li Gnostics taught that all flesh is evil, so mis-interpreted #[+refs('Eph.2:3')] as concerning damnation by nature rather than personal sins
          span: :link (see [The Foundation of Augustinian-Calvinism](https://www.google.com/search?q=The+foundation+of+Augustinian+Calvinism+Ken+Wilson) by Ken Wilson)
    .card.other
      h2 Others...
      ul
        li Annihilationism
        li Arianism
        li Calvinism (T.U.L.I.P)
          ul
            li Total Depravity
            li Unconditional Election
            li Limited Atonement
            li Irresistable Grace
            li Perseverance of the Saints
        li Cessationism
        li Dispensationalism
        li Fake Hebrew Israelites
        li Gnosticism
        li Hebrew Roots
        li Jehovah Witness
        li Modalism
        li Mormonism
        li Roman Catholicism
        li Seventh Day Adventism
        li Theistic Evolution
        li Universalism
        li Word of faith / Prosperity Gospel
  .card.dark
    h1 False Belief Systems
  .cards.cols-3.dark.belief-systems
    +belief('Atheism')
    +belief('Islam')
    +belief('Judaism')
    +belief('Freemasonry')
    +belief('New Age')
    +belief('Hinduism')
    +belief('Satanism')

append footer
  +footer('dark')
