.card.w-full
  h1 Protestant Gospel
  p: :hi:link Also known as *reformed theology*, the following false doctrines came out of the Protestant reformation and are commonly taught today. To learn more please watch [this 23-minute video](https://youtu.be/5n-RqNTXM2c?si=H6leI6iZkFCF-x78)

#jfa.card.doctrine.md-w-full
  +preamble('Justification by Faith Alone', 'John 3:15-16, 6:29; Rom.3:28 4:2 10:9; Eph.2:8-9', 'Luther, Calvin', 'Sola Fide')
    mixin justified
      +tip('justified') Made righteous. The Greek word is dikaioō (δικαιόω).
    | We are #[+justified] by faith alone, not by anything we do (our works). Good works should follow but are not necessary for salvation.
  +danger
    li Teaches we are #[+justified] (and even born again) when we believe, apart from any works of any kind
    li There is much less incentive for good works or obedience to God
    li Implies #[+baptism] (a good work of faith) is not required for salvation and is just an outward expression of an inward change
  +refutation
    mixin works
      +tip('<em>works</em>') Things done in #[strong: em faithful obedience] to God, NOT things done by our own efforts nor keeping the the old covenant Law of Moses, leading to self-righteousness.
    li
      span We are #[+justified] by #[+works] and not by faith alone:
        +verse('James 2:24,26') You see then that a man is #[+justified] by #[+works], and not by faith only. For as the body without the spirit is dead, so faith without #[+works] is dead also.
      +seeAlso('James 2:14-26', 'works')
    li
      span In Romans 4, Paul is talking about the works of the flesh and the Law of Moses. He was refuting those who taught circumcision was required for salvation
      +see('Acts 15:1 15:5; Gal.5:2-4')
    +ri('Mat.12:37; Rom.3:24 5:9; Titus 3:7') We are also #[+justified] by our words, by grace, and by the blood
    +ri('Rom.2:5-10; Gal.6:7-10; Rev.20:12-15', 'deeds, do good, well, work').warn We are exhorted to have good #[+works] because we will be judged by them on the Day of Judgement
    +ri('Mark 16:16; Acts 2:38 22:16; Rom.6:3-4; 1-Pet.3:21') #[+baptism('Baptism')] (for the remission of sins) is a necessary part of salvation
    +ri('John 3:3-5', 'born again, born of') It takes more than just a prayer, a "decision", or a confession with the mouth to be born again
    // li We do not #[em earn] eternal life in and of ourselves, neither is it all of God (monergism). It is a gift conditional on our relationship and faithfulness to God (synergism)

#irc.card.doctrine
  +preamble('Imputed Righteousness of Christ', 'Is.64:6; Rom.4:3, 4:5-6; 1-Cor.1:30; 2-Cor.5:21; Titus 3:5', 'Luther, Calvin', 'Double Imputation')
    | Jesus' righteousness is transferred onto us, and our sins are transferred onto Jesus, in a divine exchange.
  +danger
    li: :hi Turns the grace of God into a license to sin, teaching we are *positionally* righteous with God even while *practicing* sin
    li Takes Isaiah 64:6 out of context to imply we will always be sinners
  +refutation
    +ri('1-John 3:8; Gal.5:19-21', 'commit, do such') Whoever #[em practices] righteousness is righteous: #[+refs('1-John 3:7,10', 'doeth right')]. Whoever sins is of the devil and cannot inherit the kingdom of God
    - const hotwords = 'blameless, good, just, righteous, perfect, upright'
    +ri('Genesis 6:9; 2-Samuel 4:11; Job 1:1 1:8; Eze.14:14; Luke 1:5,6 23:50; Acts 10:22 11:22-24; Jam.5:16; 2-Pet.2:7-8', hotwords) Scripture exhorts us to be perfect and blameless #[+refs('Mat.5:48; 2-Cor.7:1; 1-Tim.3:2, 3:10; Titus 1:6,7; 2-Pet.3:14', hotwords)], and gives us some examples
    li In Romans 4 the Greek logizomai (λογίζομαι) means to reckon, count, compute, credit, or account, not to transfer
    li
      span The fine linen of the Bride of Christ is not the righteous acts of Christ, but the saints:
      +verse('Rev.19:8'): :hi And to her it was granted to be arrayed in fine linen, clean and bright, for the fine linen is the righteous acts of *the saints*.
    +ri('Rom.6:1-2 6:15; Titus 2:11-12') The grace of God is not a license to sin
    +ri('Luke 18:9-14; Rom.3:21-22', 'by faith') True righteousness is found in faithful obedience to Jesus, not in self-righteousness or in keeping the Law of Moses

#psa.card.doctrine
  +preamble('Penal Substitution Atonement (PSA)', 'Is.53:4,6 53:10; Mat.27:46; John 19:30; Rom.3:25; 2-Cor.5:21; Col.2:14; 1-John 2:2 4:10', '(Anselm, Aquinas), Luther, Calvin')
    :hi Jesus paid the *penalty* for our past, present and future sins. The wrath of God was poured out and satisfied as the Father punished the Son so we can go free.
  +danger
    li Teaches Jesus descended into hell to be punished in our place
    li Logically leads to double jeopardy or universalism, which can lead to Calvinism's limited atonement
    li Does not fix the believer's relationship with God, only their legal standing
    // li Maligns God's character
  +refutation
    +ri('Mat.18:23-27; Luke 7:41-42', 'forgave'): :hi In Jesus' parables, the unpayable debt is *forgiven*, not paid off
    +ri('Mark 10:45; 1-Tim.2:6; 1-Pet.1:18-19', 'ransom, redeem') Jesus is our #[em #[+ransom]], a perfect #[em sin offering] to lead us to repentance
    +ri('1-Cor.5:7; Heb.9:14', 'our passover, without spot') Jesus did not become a sinner on the cross, but was offered up as an innocent Passover lamb to God
    li On the cross, Jesus is quoting #[+refs('Psa.22:1')] to fulfil prophecy, not because the Father turned His back on Him
    +ri('Luke 23:42-43 23:46', 'paradise'): :hi Jesus went to Paradise, the good section of Hades (poorly translated as *hell* in the KJV), before He was raised:
      +verse('Acts 2:31') he, foreseeing this, spoke concerning the resurrection of the Christ, that His soul was not left in Hades, nor did His flesh see corruption.
    +ri('Acts 2:23 3:14-15 4:10 5:30 10:39', 'wicked, they slew, ye crucified, ye denied, ye slew') Jesus was crucified by lawless hands
    li The #[+tip('Septuagint version of Isaiah 53:10') And the Lord desires to cleanse him from his blow. If you offer for sin, your soul shall see a long-lived offspring. And the Lord wishes to take away from the pain of his soul, (NETS version)] reads differently to the Masoretic
    li The sacrificial animals in Leviticus were not being punished
    li: +refs('Is.53:4', 'esteem'): :hi says we *esteemed* him smitten of God, not that he was *actually* smitten of God
