.cards.dark
  .card
    h2 ALERT!
    h3 JESUS WILL RETURN TO JUDGE THE WORLD IN RIGHTEOUSNESS
    p
      | Jesus will come back to give to us all according to what we did. Those who follow Jesus and do the will of His Father will be welcomed into His eternal kingdom. But those who continue to do evil will face God’s punishment.
      +see('Acts 17:31; Matthew 25:41,46')

    +verse('Hebrews 9:27')(seeAlso='Hebrews 4:13, 10:26-31')
      | And as it is appointed for men to die once, but after this the judgement

    +verse('Revelation 21:8')(seeAlso='Revelation 14:10-11, 20:10-15, 22:15; 2-Peter 3:7,10-12; Jude 1:6-7, 13; Malachi 4:1; Isaiah 33:14')
      q
        :markdown-it
          But the *cowardly*, *unbelieving*, *abominable*, *murderers*, *sexually immoral*, *sorcerers*, *idolaters*, and all *liars* shall have their part in the lake which burns with fire and brimstone, which is the second death.

  .card
    h2 DANGER!
    +verse('Mark 9:47-48')(pre='Jesus says:')
      q.Jesus And if your eye causes you to #[b sin], pluck it out. It is better for you to enter the kingdom of God with one eye, rather than having two eyes, to be cast into #[strong hell fire] &ndash; where #[em "Their worm does not die And #[strong the fire] is not quenched."]

    +verse('Luke 12:4-5')
      q.Jesus And I say to you, My friends, do not be afraid of those who kill the body, and after that have no more that they can do. But I will show you whom you should fear: Fear Him who, after He has killed, has power to cast into #[strong hell]; yes, I say to you, fear Him!

  .card
    h2 WARNING!
    // +verse('Gal. 5:19-21 NKJV', '', 'The apostle Paul warns:')
    //   | Now the works of the flesh are evident, which are: #[b adultery, fornication, uncleanness, lewdness, idolatry, sorcery, hatred, contentions, jealousies, outbursts of wrath, selfish ambitions, dissensions, heresies, envy, murders, drunkenness, revelries], and #[b the like] which I tell you beforehand, just as I also told you in time past, that those who practice such things will #[u not] inherit the kingdom of God.

:markdown-it
  # THE GOSPEL OF JESUS CHRIST

.cards.light
  .card
    :markdown-it
      ## THE KINGDOM OF GOD IS AT HAND AND JESUS IS LORD

      The kingdom of God was opened to us when Jesus came. He is the King, the Son of God, the Savior, and the One who will judge the world. Jesus is the One we must obey if we want to be a part of the kingdom we were created for. Jesus will literally return one day and fully bring in His eternal reign once and for all on a new earth.

    +verse('Matt. 4:17')
      | From that time Jesus began to preach and to say, #[q.Jesus Repent, for the kingdom of heaven is at hand.]

    +verse('Matt. 7:21')
      q.Jesus Not everyone who says to Me, #[em ‘Lord, Lord,’] shall enter the kingdom of heaven, but he who does the will of My Father in heaven.

    +verse('John 14:6')
      q.Jesus I am the way, the truth, and the life. No one comes to the Father except through Me.

    :markdown-it
      See also: Kingdom of God - Matt 13:40-50, Mark 1:15, Mark 9:47, Luke 4:42-43, Luke 6:20, John 3:3-5, Rom 14:17, Col 1:13, Heb 12:28, James 2:5, 2 Pet 1:5-11, 2 Pet 3:10-13  The authority of Jesus - Matt 3:17, Matt 28:18, Luke 1:32-33, Acts 2:36, Acts 4:12, Acts 9:20, Acts 10:42, Rom 1:1-4, Col 1:15-20, Rev 1:5, 17-18, Rev 19:16

  .card
    :markdown-it
      ## JESUS DIED AND ROSE FROM THE GRAVE

      Jesus was crucified, but God raised Him from the dead, proving that Jesus is the Son of God. He gave His life as a ransom to free us from our selfish ways and turn us back to God. He suffered, died, and rose again so that we would listen to Him now and be changed into people who love God and do His will. After His resurrection, Jesus ascended to heaven where He is now seated in power at God’s right hand.

    +verse('Acts 26:18')
      q.Jesus to open their eyes, in order to turn them from darkness to light, and from the power of Satan to God, that they may receive forgiveness of sins and an inheritance among those who are sanctified by faith in Me.

    +verse('Mark 10:45')
      q.Jesus For even the Son of Man did not come to be served, but to serve, and to give his life as a ransom for many.

    +verse('1 Peter 2:24')
      | He himself bore our sins in his body on the tree, that we might die to sin and live to righteousness.

    +verse('Eph. 1:20')
      | [God] raised Him [Jesus] from the dead and seated him at his right hand in the heavenly places

    :markdown-it
      See also: Acts 17:30-31, Rom 3:23-24, Rom 4:25, Rom 6, 2 Cor 5:15, 21, Tit 2:14, Heb 9:15, Heb 13:12, 1 Pet 1:18-19, 1 Pet 3:18, 1 Pet 3:22, Rev 1:5, Rev 5:9-10

  .card
    :markdown-it
      ## FORGIVENESS AND NEW LIFE OFFERED TO ALL WHO BELIEVE

      All who trust in Jesus and submit to His authority are forgiven by God. They are released from captivity to sin and receive the Holy Spirit to give them power for a new life. This is a gift of God’s grace (kindness/favor), but is not something we can abuse. Scripture urges Christians to remain in the grace of God and warns them not to receive His grace in vain.

    +verse('Acts 10:43')
      q To him all the prophets bear witness that everyone who believes in him receives forgiveness of sins through his name.

    +verse('Acts 2:38')
      q Repent and be baptized every one of you in the name of Jesus Christ for the forgiveness of your sins, and you will receive the gift of the Holy Spirit.

    +verse('Rom. 6:4')
      | Therefore we were buried with Him through baptism into death, that just as Christ was raised from the dead by the glory of the Father, even so we also should walk in newness of life.

    :markdown-it
      See also: John 1:16-17, Acts 13:38-39, Rom 1:5, 1 Cor 15:9-10, Eph 2:8-10, 1 Tim 1:12-17, Tit 2:11-14, Jude 1:4. More on grace - Matt 18:21-35, Acts 13:43, Rom 6:15, Rom 11:22, 2 Cor 6:1, Heb 10:26-30

.card.light
  :markdown-it
    ## HOW MUST WE RESPOND TO THIS MESSAGE?

  +verse('Matthew 10:37-39', 'Jesus says:')
    q.Jesus He who loves father or mother more than Me is not worthy of Me. And he who loves son or daughter more than Me is not worthy of Me. And he who does not take his cross and follow after Me is not worthy of Me. He who finds his life will lose it, and he who loses his life for My sake will find it.

  :markdown-it
    Being a Christian means a full surrender of your whole life to Jesus as your new King. If you are ready for that commitment, you must repent and be baptized in His name. Then you must learn to obey all He taught and commanded, following Him to the end. God will help you if you are willing and obedient.

  +verse('John 7:38')
    q.Jesus If anyone thirsts, let him come to Me and drink. He who believes in Me, as the Scripture has said, out of his heart will flow rivers of living water.

  +verse('John 14:21')
    q.Jesus “He who has My commandments and keeps them, it is he who loves Me. And he who loves Me will be loved by My Father, and I will love him and manifest Myself to him.

  +verse('1 John 2:3-6')
    | Now by this we know that we know Him, if we keep His commandments. He who says, “I know Him,” and does not keep His commandments, is a liar, and the truth is not in him. But whoever keeps His word, truly the love of God is perfected in him. By this we know that we are in Him. He who says he abides in Him ought himself also to walk just as He walked.

  :markdown-it
    See also: Mark 8:34-35, Matt 24:12-13, Matt 28:19-20, Luke 13:24, John 12:23-26, John 15:1-10, Acts 14:22, 1 Cor 9:24 - 10:13, Php 3:12-15, Heb 12:1-3, 2 Pet 1:3-11, Rev 2:26

    **Please read all of the bible verses provided. Even better, read the whole bible!**
