.heresies {
  li {
    margin-bottom: 0.5rem;
  }

  .heresy li {
    /* make every li a tooltip anchor */
    position: relative;

    /* period after each li */
    &:after {
      content: '.';
    }

    &:last-child {
      margin-bottom: 0;
    }

    .verse {
      /* fix android chrome */
      display: inline;

      /* add gap between text and verse */
      &::before {
        content: ' ';
      }

      span.body {
        background: #322;
        color: #ff8;
      }
    }
  }

  /* nested list e.g. Calvinism */
  .other ul>li:first-child {
    margin-top: 0.5rem;
  }
}
