extends lib/base.pug

append head
  style: include lib/bg-dark.css

  - const PAGE_ID='heresies'

append main
  .card.dark
    h1 Heresies
    .verses
      +verse('Jude 1:3')(seeAlso='Jude 1:4')
        :markdown-it Beloved, while I was very diligent to write to you concerning our common salvation, I found it necessary to write to you exhorting you to *contend earnestly* for the faith which was once for all delivered to the saints.
      +verse('1-Tim.4:1')
        :markdown-it Now the Spirit expressly says that in latter times some will depart from the faith, giving heed to deceiving spirits and *doctrines of demons*,
  .cards.dark
    .card
      h2 Cessationism
    .card
      h2 Double Imputation
    .card
      h2 Irresistable Grace
    .card
      h2 Limited Atonement
    .card
      h2 Original Sin
    .card
      h2 Penal Substitution Atonement
    .card
      h2 Perseverance of the Saints
    .card
      h2 Seventh Day Adventism
    .card
      h2 Total Depravity
    .card
      h2 Unconditional Election
    .card
      h2 Universalism
