extends lib/base.pug

append head
  style: include lib/bg-dark.css

  - const PAGE_ID='heresies'

append main
  .card.dark
    h1 Heresies
    .verses
      +verse('2-Pet.2:1')
        :markdown-it But there were also false prophets among the people, even as there will be *false teachers* among you, who will secretly bring in *destructive heresies*, even denying the Lord who bought them, and bring on themselves swift destruction.
      +verse('1-Tim.4:1,2')(seeAlso='')
        :markdown-it Now the Spirit expressly says that in latter times some will depart from the faith, giving heed to deceiving spirits and *doctrines of demons*, speaking lies in hypocrisy, having their own conscience seared with a hot iron,
      +verse('Jude 1:3')(seeAlso='Jude 1:4; Eph.5:11')
        :markdown-it Beloved, while I was very diligent to write to you concerning our common salvation, I found it necessary to write to you exhorting you to contend earnestly for the faith which was once for all delivered to the saints.
  .cards.dark
    .card
      h2 Annihilationism
    .card
      h2 Calvinism
    .card
      h2 Cessationism
    .card
      h2 Dispensationalism
    .card
      h2 Double Imputation
    .card
      h2 Irresistable Grace
    .card
      h2 Justification by Faith Alone
    .card
      h2 #[em L]imited Atonement
    .card
      h2 Original Sin
    .card
      h2 Penal Substitution Atonement
    .card
      h2 Once Saved Always Saved
    .card
      h2 Perseverance of the Saints
    .card
      h2 Theistic Evolution
    .card
      h2 Total Depravity
    .card
      h2 Unconditional Election
    .card
      h2 Universalism
  .card.dark
    h1 False Belief Systems
  .cards.dark
    .card
      h2 Atheism
    .card
      h2 Flat Earth
    .card
      h2 Islam
    .card
      h2 Judaism
    .card
      h2 Jehovah Witness
    .card
      h2 Mormonism
    .card
      h2 Old Earth
    .card
      h2 Roman Catholicism
    .card
      h2 Seventh Day Adventism
