li {
  margin-bottom: 0.5rem;
  /* make every li a tooltip anchor */
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  /* fix android chrome */
  .verse {
    display: inline;
  }
}
