@import 'mixin.sss'

em
  font-weight: bold

.check::before
  @mixin glyph emoji/checkmark_box
  filter: hue-rotate(00deg) brightness(72%) contrast(500%)

.dark .verse strong
  background-clip: text
  background-image: linear-gradient(to top, red, yellow)
  color: transparent
  text-shadow: 1px 1px 0 #ffc

.light em
  color: green

.verse  // make every verse a tooltip anchor
  position: relative
