em {
  font-weight: bold;
}

.check:before {
  content: '';
  display: inline-block;
  margin-right: 0.5rem;
  top: 2px;
  position: relative;
  height: 1rem;
  width: 1rem;
  background: url('asset/emoji/checkmark_box.svg');
  filter: hue-rotate(00deg) brightness(72%) contrast(500%);
}

.dark .verse strong {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to top, red, yellow);
  color: transparent;
  text-shadow: 1px 1px 0px #ffc;
}

.light em {
  color: green;
}

.verse {
  /* make every verse a tooltip anchor */
  position: relative;
}
