@import 'emoji.sss'

@mixin emoji-lr fire
@mixin emoji-lr megaphone
@mixin emoji-lr skull_bones

.dark .verse strong
  background-clip: text
  background-image: linear-gradient(to top, #f00, #ff0)
  color: transparent
  text-shadow: 1px 1px 0 #ffc
