@import 'emoji.sss'

// judgement
@mixin emoji-lr fire
@mixin emoji-lr megaphone
@mixin emoji-lr skull_bones

// gospel
@mixin emoji-l cross
  height: 56px
  margin-right: 1rem

@mixin emoji-l dove, 60px
