.card.md-w-full
  h2 ALERT!
  h3 JESUS WILL RETURN TO JUDGE THE WORLD IN RIGHTEOUSNESS
  p.tip-anchor
    | Jesus will come back to give to us all according to what we did. Those who follow Jesus and do the will of His Father will be welcomed into His eternal kingdom. But those who continue to do evil will face God’s punishment.
    +see('Acts 17:31', 'judge')
  .verses
    +verse('Mat.25:41,46')(seeAlso='2-Pet.3:7,10-12; Malachi 4:1', hotwords='burn, fire')
      q.jesus: :hi Then He will also say to those on the left hand, 'Depart from Me, you cursed, into the **everlasting fire** prepared for the devil and his angels'. And these will go away into **everlasting punishment**, but the righteous into eternal life.
    +verse('Revelation 21:8')(seeAlso='Rev.14:10,11 20:10-15 22:15; Jude 1:6,7,13; Isaiah 33:14', hotwords='fire, wrath')
      q: :hi But the *cowardly*, *unbelieving*, *abominable*, *murderers*, *sexually immoral*, *sorcerers*, *idolaters*, and all *liars* shall have their part in the lake which **burns** with **fire** and **brimstone**, which is the second death.
.card
  .fire: h2.fire DANGER!
  .verses
    +verse('Mark 9:47,48', 'Jesus says:')(seeAlso='Mat.13:40-42 13:47-50; Luke 16:22-24', hotwords='fire, torment')
      q.jesus: :hi And if your eye causes you to *sin*, pluck it out. It is better for you to enter the kingdom of God with one eye, rather than having two eyes, to be cast into **hell fire** &ndash; where 'Their **worm** does not die And the **fire** is not quenched.'
    +verse('Mark 7:21-23')(seeAlso='Mat.5:27-30 7:21-23 24:50-51; Luke 13:1-5; John 5:26-29 12:31 15:6', hotwords='cast into hell, damnation, depart, fire, likewise perish, weep')
      q.jesus: :hi For from within, out of the heart of men, proceed *evil thoughts*, *adulteries*, *fornications*, *murders*, *thefts*, *covetousness*, *wickedness*, *deceit*, *lewdness*, an *evil eye*, *blasphemy*, *pride*, *foolishness*. All these evil things come from within and defile a man.
    +verse('Luke 12:4,5')(seeAlso='Prv.1:7 9:10 14:27 16:6 19:23; Mat.10:28')
      q.jesus: :hi And I say to you, My friends, do not be afraid of those who kill the body, and after that have no more that they can do. But I will show you whom you should fear: Fear Him who, after He has killed, has power to cast into **hell**; yes, I say to you, fear Him!
.card
  .skull_bones: h2.skull_bones WARNING!
  .verses
    +verse('Gal.5:19-21 NKJV', 'The apostle Paul warns:')
      :hi:link Now the works of the flesh are evident, which are: *adultery*, *fornication*, *uncleanness*, *lewdness*, *idolatry*, *sorcery*, *hatred*, *contentions*, *jealousies*, *outbursts of wrath*, *selfish ambitions*, *dissensions*, [*heresies*](deception.html), *envy*, *murders*, *drunkenness*, *revelries*, and *the like*; of which I tell you beforehand, just as I also told you in time past, that those who practice such things will not inherit the kingdom of God.
    +verse('1-Corinthians 6:10')(seeAlso='verse 9; Rom.1:18 1:28-32 2:3-9; Eph.5:5,6; Col.3:5-9; 1-Tim.6:9,10; 2-Tim.3:1-5', hotwords='wrath of God'): :hi nor *thieves*, nor *covetous*, nor *drunkards*, nor *revilers*, nor *extortioners* will inherit the kingdom of God.
    +verse('Col.3:6')(seeAlso='Mat.22:13; Acts 3:23; 2-Cor.5:10,11; 2-Thes.1:7-10', hotwords='flaming, punish, weeping')
      :hi Because of these things the **wrath of God** is coming upon the sons of *disobedience*
    +verse('Hebrews 9:27')(seeAlso='Hebrews 4:13 10:26-31')
      | And as it is appointed for men to die once, but after this the judgement
