extends lib/base.pug

append head
  script: include lib/scrollbar.js
  script initScrollbar('#000', '#eee')

append header
  +header('dark')

append main
  style: include:sss index.sss
  .cards.dark: include index.judgement.pug
  .cards.light: include index.gospel.pug

append footer
  +footer('light')
