extends lib/base.pug

append head
  script: include lib/scrollbar.js
  script initScrollbar('#000', '#fff')
  style: :postcss
    @import 'mixin/background.sss'
    @mixin background #000, #000, #ccc, #eee, #fff
  style: include:postcss lib/emoji.sss
  style: include:postcss index.sss

append header
  +header('dark')

append main
  .cards.cols-3.dark
    .card.cols-2-span-2
      h2 ALERT!
      h3 JESUS WILL RETURN TO JUDGE THE WORLD IN RIGHTEOUSNESS
      p.tooltip-anchor
        | Jesus will come back to give to us all according to what we did. Those who follow Jesus and do the will of His Father will be welcomed into His eternal kingdom. But those who continue to do evil will face God’s punishment.
        +see('Acts 17:31')
      .verses
        +verse('Mat.25:41,46')(seeAlso='2-Pet.3:7,10-12; Malachi 4:1')
          q.jesus: :hi Then He will also say to those on the left hand, 'Depart from Me, you cursed, into the **everlasting fire** prepared for the devil and his angels'. And these will go away into **everlasting punishment**, but the righteous into eternal life.
        +verse('Revelation 21:8')(seeAlso='Rev.14:10,11, 20:10-15, 22:15; Jude 1:6,7,13; Isaiah 33:14')
          q: :hi But the *cowardly*, *unbelieving*, *abominable*, *murderers*, *sexually immoral*, *sorcerers*, *idolaters*, and all *liars* shall have their part in the lake which **burns** with **fire** and **brimstone**, which is the second death.
    .card
      .fire: h2 DANGER!
      .verses
        +verse('Mark 9:47,48', 'Jesus says:')(seeAlso='Mat.13:40-42,47-50; Luke 16:22-24')
          q.jesus: :hi And if your eye causes you to *sin*, pluck it out. It is better for you to enter the kingdom of God with one eye, rather than having two eyes, to be cast into **hell fire** &ndash; where 'Their **worm** does not die And the **fire** is not quenched.'
        +verse('Mark 7:21-23')(seeAlso='Mat.5:27-30, 7:21-23, 24:50-51; Luke 13:1-5; John 5:26-29, 12:31, 15:6')
          q.jesus: :hi For from within, out of the heart of men, proceed *evil thoughts*, *adulteries*, *fornications*, *murders*, *thefts*, *covetousness*, *wickedness*, *deceit*, *lewdness*, an *evil eye*, *blasphemy*, *pride*, *foolishness*. All these evil things come from within and defile a man.
        +verse('Luke 12:4,5')(seeAlso='Proverbs 1:7, 9:10, 14:27, 16:6; Mat.10:28')
          q.jesus: :hi And I say to you, My friends, do not be afraid of those who kill the body, and after that have no more that they can do. But I will show you whom you should fear: Fear Him who, after He has killed, has power to cast into **hell**; yes, I say to you, fear Him!
    .card
      .skull_bones: h2 WARNING!
      .verses
        +verse('Gal.5:19-21 NKJV', 'The apostle Paul warns:')
          :hi Now the works of the flesh are evident, which are: *adultery*, *fornication*, *uncleanness*, *lewdness*, *idolatry*, *sorcery*, *hatred*, *contentions*, *jealousies*, *outbursts of wrath*, *selfish ambitions*, *dissensions*, *heresies*, *envy*, *murders*, *drunkenness*, *revelries*, and *the like*; of which I tell you beforehand, just as I also told you in time past, that those who practice such things will not inherit the kingdom of God.
        +verse('1-Corinthians 6:10')(seeAlso='verse 9; Rom.1:18, 1:28-32, 2:3-9; Eph.5:5,6; Col.3:5-9; 1-Tim.6:9,10; 2-Tim.3:1-5'): :hi nor *thieves*, nor *covetous*, nor *drunkards*, nor *revilers*, nor *extortioners* will inherit the kingdom of God.
        +verse('Col.3:6')(seeAlso='Mat.22:13; Acts 3:23; 2-Cor.5:10,11; 2-Thes.1:7-10')
          :hi Because of these things the **wrath of God** is coming upon the sons of *disobedience*
        +verse('Hebrews 9:27')(seeAlso='Hebrews 4:13, 10:26-31')
          | And as it is appointed for men to die once, but after this the judgement
  .card.light
    h1 THE GOSPEL OF JESUS CHRIST
  .cards.cols-3.light
    .card.cols-2-span-2
      h2 THE KINGDOM OF GOD IS AT HAND AND JESUS IS LORD
      :hi The kingdom of God was opened to us when Jesus came. He is King of kings and Lord of lords, the Son of God, the Saviour, and the One who will judge the world. Jesus is the One we *must obey* if we want to be a part of the eternal kingdom we were created for.
      .verses.mt-4
        +verse('John 1:1,14')(seeAlso='Mat.3:17, 28:18; John 14:6; Acts 2:36, 4:12, 9:20, 10:42; Col.1:15-18; 1-Tim.6:15,16; Heb.1:1-4; Rev.1:5,17,18')
          | In the beginning was the Word, and the Word was with God, and the Word was God. And the Word became flesh and dwelt among us ...
        +verse('Mat.4:17')(seeAlso='Mat.7:21, 10:7, 13:44,45, 18:1-4, 24:14; Mark 1:14,15; Luke 1:32,33, 4:43, 6:20, 11:2, 17:20-21; John 3:3-5; Rom.14:17; Col.1:13; Heb.12:28; 2-Pet.1:5-11')
          | From that time Jesus began to preach and to say, #[q.jesus Repent, for the kingdom of heaven is at hand.]
    .card
      .cross: h2 JESUS DIED AND ROSE FROM THE GRAVE
      p.tooltip-anchor
        :hi Jesus was crucified but God raised Him from the dead and seated Him at His right hand, proving Jesus is the Son of God. Jesus gave His life as a ransom, to open our eyes, to turn us back to God, to free us from our selfish ways. This He suffered, hoping we would listen to Him and be changed into people who *love* God, *practice righteousness* and *do* His will.
        +see('Mark 12:29-31; Eph.1:20; 1-John 3:7-9')
      .verses
        +verse('Mark 10:45')(seeAlso='John 12:32; 1-Tim.2:5,6')
          q.jesus For even the Son of Man did not come to be served, but to serve, and to give his life as a ransom for many.
        +verse('Acts 26:18')(seeAlso='Mat.12:39,40; 2-Cor.5:15,21; Col.1:13,14; Heb.13:12; 1-Pet.1:18,19, 2:24, 3:18; Rev.1:5, 5:9,10')
          q.jesus to open their eyes, in order to turn them from darkness to light, and from the power of Satan to God, that they may receive forgiveness of sins and an inheritance among those who are sanctified by faith in Me.
    .card
      .dove
        .emoji
        h2 FORGIVENESS AND NEW LIFE OFFERED
      p.tooltip-anchor
        :hi All who trust in Jesus and *humbly submit* to His authority are forgiven by God. They are released from sin's captivity and receive the Holy Spirit to give them power for a new supernatural life. This is a gift of God’s grace (merciful kindness and divine influence), but is not something we can abuse. Scripture urges Christians to remain in the grace of God and warns them not to receive His grace in vain.
        +see('Acts 10:43, 13:38-39; Rom.11:22')
      .verses
        +verse('Titus 2:11,12')(seeAlso='2-Cor.6:1; Eph.2:8-10; 1-Pet.1:13-16; Jude 1:4')
          | For the grace of God that brings salvation has appeared to all men, teaching us that, denying ungodliness and worldly lusts, we should live soberly, righteously, and godly in the present age,
        +verse('Rom.6:4')(seeAlso='Rom.6; 2-Cor.5:17; Col.1:13,14')
          | Therefore we were buried with Him through baptism into death, that just as Christ was raised from the dead by the glory of the Father, even so we also should walk in newness of life.
  .card.light
    h2 HOW MUST WE RESPOND TO THIS GOOD NEWS?
    p: :hi Being a Christian means a *full surrender* of your whole life to Jesus as your Lord and King. If you are ready for that commitment, you must *repent* of your sins and be baptized in His name. Then you must deny youself, take up your cross and follow Him to the very end, learning to *obey* all He taught and commanded. God will help you if you are *willing* and *obedient*.
    .verses
      +verse('Acts 2:38')(seeAlso='Acts 3:19; John 7:38')
        | Then Peter said to them, #[q Repent and be baptized every one of you in the name of Jesus Christ for the forgiveness of your sins, and you will receive the gift of the Holy Spirit.]
      +verse('John 14:21')
        q.jesus He who has My commandments and keeps them, it is he who loves Me. And he who loves Me will be loved by My Father, and I will love him and manifest Myself to him.
      +verse('Luke 9:23-26')(seeAlso='Mat.10:37-39, 24:13, 28:19-20; Mark 8:34-38; Luke 13:24, 14:26-33; John 12:23-26, 15:1-10; Acts 14:22; 1-Cor.9:24-10:13; Gal.5:24; Php.3:12-14; Heb.12:1-3')
        Then He said to them all, #[q.jesus If anyone desires to come after Me, let him deny himself, and take up his cross daily, and follow Me. For whoever desires to save his life will lose it, but whoever loses his life for My sake will save it. For what profit is it to a man if he gains the whole world, and is himself destroyed or lost?]
      +verse('1-John 2:3-6')(seeAlso='Mat.5, 6, 7, 22:36-40; Luke 6:20-49; Rom.13:8-10; 1-Cor.13; Gal.6:7-10; Eph.6:10-18; 2-Pet.1:3-11; 1-John 3:3-10')
        | Now by this we know that we know Him, if we keep His commandments. He who says, “I know Him” and does not keep His commandments, is a liar, and the truth is not in him. But whoever keeps His word, truly the love of God is perfected in him. By this we know that we are in Him. He who says he abides in Him ought himself also to walk just as He walked.
    p.mb-0: strong.check: :hi Please read all the bible verses provided here. Then continually read and meditate on the whole bible, especially the New Testament, and DO what it says!

append footer
  +footer('light')
