extends lib/base.pug

append head
  script: include lib/scrollbar.js
  script initScrollbar('#000', '#eee')
  style: include:svg:postcss lib/emoji.sss
  style: include:svg:postcss index.sss

append header
  +header('dark')

mixin repent(label='repent')
  +tip(label) Repent means to not only confess your sins to God with a contrite and broken heart, but also to turn away from them and #[em stop sinning] with godly sorrow and fear.
mixin Repent()
  +repent('Repent')

append main
  .cards.dark
    include index.judgement.pug
  .cards.light
    include index.gospel.pug

append footer
  +footer('light')
