@import 'background.sss'
@import 'glyph.sss'
@import 'tip.sss'

@mixin background #000, #000, #ccc, #eee, #eee

em
  font-weight: bold

.check::before
  @mixin glyph-mr-2 emoji/checkmark_box
  @mixin checkmark-filter

.dark .verse strong
  background-clip: text
  background-image: linear-gradient(to top, #f00, #ff0)
  color: transparent
  text-shadow: 1px 1px 0 #ffc

.light em
  color: #080

.verse
  @mixin tip-anchor
