extends lib/base.pug

append header
  +header('light')

append main
  style: include:sss ministry.sss
  .cards.light
    include ministry.tract.pug
    include ministry.contact.pug
append footer
  +footer('light')
