extends lib/base.pug

append head
  script: include lib/scrollbar.js
  script initScrollbar('#eee', '#000')
  style: include:sss resources.tract.sss
  style: :sss
    @import 'background.sss'
    @mixin background #eee, #eee, #eee, #888, #000

append header
  +header('light')

append main
  .cards.light
    include ministry.contact.pug
    include resources.tract.pug
  .cards.dark
    .card
      h2 False Gospel Tracts
      p: :link Beware of gospel tracts which misrepresent the true biblical gospel. To learn about today's most common [false gospel](deception.html) please watch [this 23-minute video](https://youtu.be/5n-RqNTXM2c?si=H6leI6iZkFCF-x78).

append footer
  +footer('dark')
