extends lib/base.pug

mixin tract-image(basename, width='50%')
  a(href=`asset/tract/${basename}.png`)
    img(src=`asset/tract/${basename}.png` width=width)

append head
  - const PAGE_ID='resources'
  - const SOURCE_URL='https://github.com/christ-resurrected/gospel-tracts'
  style: include lib/bg-light-to-dark.css

append main
  .cards.light
    .card.colspan-2
      h1 Gospel Tracts
      :verse The word *gospel* is translated from the Greek word **εὐαγγέλιον** which means *good news* or *glad tidings*. Jesus commands His disciples to go out into the world and preach this good news...
      .verses.mt-4
        +verse('Mark 16:15,16'): | And He said to them, #[q.Jesus Go into all the world and preach the gospel to every creature. He who believes and is baptized will be saved; but he who does not believe will be condemned.]
        +verse('Mat.10:7-8'): q.Jesus And as you go, preach, saying, 'The kingdom of heaven is at hand.' Heal the sick, cleanse the lepers, raise the dead, cast out demons. Freely you have received, freely give.
      p To help with this endeavour, I have created these gospel tracts. You can find the PDFs and source code #[a(href=SOURCE_URL) here].
    .card
      h2 A6 2-sided
      :markdown-it Inspired by [Gospel Tract #1](https://abideintheword.com/evangelism) by Adam at [AbideInTheWord.com](https://abideintheword.com).
      +tract-image('tract_A6_2s-00')
      +tract-image('tract_A6_2s-01')
      :markdown-it
        For printing [this 2-page PDF](https://github.com/christ-resurrected/gospel-tracts/blob/master/pdf/tract_A6_2s.pdf) in the UK I recommend [Mixam Leaflets & Flyers](https://mixam.co.uk/flyers) with the following options:

        - Orientation: portrait
        - Size: A6 (105 mm x 148 mm)
        - Colours (Front): Colour
        - Colours (Back): Colour
        - Paper Type: Gloss
        - Paper Weight: 300gsm
        - Lamination (Front): Gloss Lamination
        - Lamination (Back): Same As Front
    .card
      h2 Pocket Trifold
      :markdown-it Inspired by the [Poland Gospel Tract](https://docs.google.com/document/d/1nw98_2VB3hayzH0XHPzGlwBWH2TvXYnWT5TD-7Ep8bc) by Thomas Albin Holmes.
      +tract-image('tract_pocket_trifold-00', '100%')
      +tract-image('tract_pocket_trifold-01', '100%')
      p This tract folds into a compact 72mm x 140mm.
  .cards.dark
    .card
      h2 False Gospel Tracts
      :markdown-it Beware of gospel tracts which misrepresent the true biblical gospel. To learn about today's most common false gospel please watch [this 23-minute video](https://youtu.be/5n-RqNTXM2c?si=H6leI6iZkFCF-x78).
